<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964685642454-n460m3s8mh9uaq0ak58v7j9ed1dga0nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964685642454-n460m3s8mh9uaq0ak58v7j9ed1dga0nq</string>
	<key>API_KEY</key>
	<string>AIzaSyAsMMExdVX5O8ox1LgKYIbxyobk2kmoU8k</string>
	<key>GCM_SENDER_ID</key>
	<string>964685642454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-f6f40</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-f6f40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964685642454:ios:9e9c063c517e20bd0aa777</string>
</dict>
</plist>